@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "ForgotPassword Page";
}
<div class="col-lg-5">
    <div class="card">
        <!-- Logo -->
        <div class="card-header pt-4 pb-4 text-center bg-primary">
            <a href="index.html">
                <span><img src="~/images/logo.png" alt="" height="18"></span>
            </a>
        </div>

        <div class="card-body p-4">

            <div class="text-center w-75 m-auto">
                <h4 class="text-dark-50 text-center mt-0 font-weight-bold">Şifre Sıfırlama</h4>
                <p class="text-muted mb-4">E-posta adresinizi girin ve size şifrenizi sıfırlama talimatlarını içeren bir e-posta gönderelim.</p>
            </div>

            <form action="#">
                <div class="form-group mb-3">
                    <label for="emailaddress">Email Adresi</label>
                    <input class="form-control" type="email" id="emailaddress" required="" placeholder="E-Mail Adresinizi Giriniz">
                </div>

                <div class="form-group mb-0 text-center">
                    <button class="btn btn-primary" type="submit">Şifremi Sıfırla</button>
                </div>
            </form>
        </div> <!-- end card-body-->
    </div>
    <!-- end card -->

    <div class="row mt-3">
        <div class="col-12 text-center">
            <p class="text-muted">Geri Dön <a href="/account/login" class="text-muted ml-1"><b>Giriş</b></a></p>
        </div> <!-- end col -->
    </div>
    <!-- end row -->

</div>