@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "Login Page";
}


<div class="col-lg-5">
    <div class="card" id="load">
        <!-- Logo -->
        <div class="card-header pt-4 pb-4 text-center bg-primary">
            <a href="index.html">
                <span><img src="~/images/logo.png" alt="" height="18"></span>
            </a>
        </div>

        <div class="card-body p-4">
            <div class="text-center w-75 m-auto">
                <h4 class="text-dark-50 text-center mt-0 font-weight-bold">Giriş</h4>
                <p class="text-muted mb-4">Yönetici paneline erişmek için email adresinizi ve şifrenizi girin.</p>
            </div>

            <form action="/Account/Login" method="post">
                <div class="form-group">
                    <label for="emailaddress">Email</label>
                    <input class="form-control" type="email" name="email" id="emailaddress" required="" placeholder="Email Adresinizi Giriniz">
                </div>

                <div class="form-group">
                    <a href="/account/forgotpassword" class="text-muted float-right"><small>Şifremi Unuttum?</small></a>
                    <label for="password">Şifre</label>
                    <div class="input-group input-group-merge">
                        <input type="password" id="password" name="password" class="form-control" placeholder="Şifrenizi Giriniz">
                        <div class="input-group-append" data-password="false">
                            <div class="input-group-text">
                                <span class="password-eye"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group mb-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="checkbox-signin" checked>
                        <label class="custom-control-label" for="checkbox-signin">Beni Hatırla</label>
                    </div>
                </div>

                @*$("#toastr-three").on("click",function(t){i.NotificationApp.send("Well Done!","You successfully read this important alert message","bottom-right","rgba(0,0,0,0.2)","success")})*@
                <div class="form-group mb-0 text-center">
                    <button class="btn btn-primary" type="submit" id="toastr-three"> Giriş </button>
                </div>

            </form>
        </div> <!-- end card-body -->
    </div>
    <!-- end card -->

    <div class="row mt-3">
        <div class="col-12 text-center">
            <p class="text-muted">Hesabınız yok mu? <a href="/account/register" class="text-muted ml-1"><b>Kayıt Ol</b></a></p>
        </div> <!-- end col -->
    </div>
    <!-- end row -->

</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {

         if (@HttpContextAccessor.HttpContext.Session.GetString("login") == "0") {
             !function (i) {
                 i.NotificationApp.send("Ooopss!", "Bir şeyler ters gitti, tekrar dene güzelim", "bottom-right", "rgba(0,0,0,1)", "error");
            }(window.jQuery);
        }

    });

</script>